/* Mode HP */
@media screen and (max-width: 768px) {
  .navuli {
    margin-left: 0px;
  }
  .cete {
    display: none;
  }
  .cta-buttons {
    display: none;
  }
  .logo {
    margin-left: -35px;
  }
  .logoibu {
    display: none;
  }
  .cts {
    margin-left: -8px;
  }
  .foto-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.foto-container img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  object-position: center center; 
}
}
